.comments-mixin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid $inputBorder;
  .comments-mixin__text {
    font-size: 16px;
    padding: 5px;
  }
  .comments-mixin__del {
    cursor: pointer;
    color: #c23616;
  }
  .comments-mixin__form {
    display: none;
  }
}
