header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: white;
  border-bottom: 2px solid $inputBorder;
  border-radius: 7px;
  box-shadow: 0 0 16px $inputBorder;

  .header__logo {
    color: $baseFc;
    font-size: 25px;
    margin-left: 15px;
  }
  .header__title {
    text-align: center;
    width: 100%;
    max-width: 480px;
    font-weight: bold;
    overflow: hidden; // 을 사용해 영역을 감출 것
    text-overflow: ellipsis; // 로 ... 을 만들기
    white-space: nowrap; // 아래줄로 내려가는 것을 막기위해
    word-break: break-all;
  }
  .header__create {
    padding: 10px;
    color: $baseBg;
    border-radius: 7px;
    background-color: $baseFc;
    margin-right: 15px;
  }
}
