header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: white;
  border-bottom: 2px solid $inputBorder;

  .header__logo {
    color: $baseFc;
    font-size: 25px;
    margin-left: 15px;
  }
  .header__title {
    font-weight: bold;
  }
  .header__create {
    padding: 10px;
    color: $baseBg;
    border-radius: 7px;
    background-color: $baseFc;
    margin-right: 15px;
  }
}
