// mixins/postList.pug
.postList-mixin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 25px 30px;
  border-radius: 7px;
  box-shadow: 0 0 16px $inputBorder;

  .postList-mixin__img {
    width: 100%;
    height: 280px;
    border: none;
    border-radius: 7px;
    overflow: hidden;
    background-color: $inputBorder;
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
  }
  .postList-mixin__contents {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    color: black;
    .postList-mixin__title {
      font-size: 18px;
      font-weight: bold;
      margin-top: 8px;
      overflow: hidden; // 을 사용해 영역을 감출 것
      text-overflow: ellipsis; // 로 ... 을 만들기
      white-space: nowrap; // 아래줄로 내려가는 것을 막기위해
      word-break: break-all;
    }
    .postList-mixin__meta {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      .postList-mixin__time {
        font-size: 15px;
        color: gray;
      }
    }
  }
}
