doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        block head
        title #{titleName} | 신년메시지 주고받기
    body 
        header 
            nav 
                ul
                    li 
                        a(href="/") 메인
                    li
                        a(href="/post/create") 글 생성  
            h1=titleName
        main
            block body