extends ../inheritance/base.pug

block body 
    .postCreate
        button.postCreate__imgBtn#imgBtn  랜덤 이미지 추가하기
        form.postCreate__form(method="post")
            .postCreate__title
                label(for="title") 글 제목
                img(src="https://www.wiselycompany.com/custom/img/icon_require.png" alt="필수" width=10 height=10)
                input(type="text" id="title" name="title" placeholder="글 제목을 입력해주세요." required minlength=3)
            .postCreate__content
                label(for="title") 글 내용
                img(src="https://www.wiselycompany.com/custom/img/icon_require.png" alt="필수" width=10 height=10)
                textarea(name="content", id="content", cols="30", rows="10", placeholder="글 내용을 입력해주세요. (최대 200자)", required, minlenth=3, maxlegth=200)
            .postCreate__submit
                input#createBtn(type="submit" value="글 작성하기" disabled=true)
block scripts 
    script(src="/static/js/createPost.js") 