extends ../inheritance/base.pug
include ../mixins/postList.pug

block body 
    .home__grid
        each post in posts
            +mixinPostList(post)
        else 
            h1 글이 없네용 ㅇ_ㅇ
    
    script(src="/static/js/main.js") 

            