extends ../inheritance/base.pug
include ../mixins/postList.pug

block body 
    .home__grid
        each post in posts
            +mixinPostList(post)
        else 
            span.home__empty 게시글이 존재하지 않습니다. ❌
            span.home__empty 게시글이 존재하지 않습니다. ❌
    

block scripts 
    script(src="/static/js/main.js") 
    script(src="/static/js/simpleCreated.js") 