.postCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 640px;
}
.postCreate__imgBtn {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  border-radius: 7px;
  margin: 15px 0;
}
.postCreate__form {
  width: 100%;
  padding-bottom: 50px;
  input {
    margin-top: 10px;
  }

  .postCreate__title {
    margin: 30px 0;
  }
}
