.postDetail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  color: black;

  .postDetail__img {
    width: 90%;
    max-width: 480px;
    max-height: 480px;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 20px;
  }
  .postDetail__data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    max-width: 480px;

    .postDetail__title {
      font-size: 26px;
      color: $baseFc;
    }
    .postDetail__time {
      display: flex;
      justify-content: end;
      color: gray;
      padding-bottom: 15px;
      border-bottom: 2px solid $inputBase;
    }
    .postDetail__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: block;
      font-size: 20px;
      padding: 15px 0;
      border-bottom: 2px solid $inputBase;
      word-wrap: break-word;

      .postDetail__btns {
        display: flex;
        justify-content: end;
        align-items: center;
        color: $baseBg;
        margin: 35px 0;

        .postDetaill__btn {
          cursor: pointer;
          background-color: $baseFc;
          padding: 10px;
          border-radius: 7px;
          margin: 0 5px;
        }
        .del_btn {
          background-color: #c23616;
        }
      }

      .postDetail__commentExplain {
        display: flex;
        justify-content: start;
        align-items: center;
        i {
          color: $baseFc;
        }
        span {
          margin-left: 8px;
        }
      }
    }
  }

  .postDetaill__commentsList {
    width: 90%;
    max-width: 480px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .postDetail__commentForm {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 640px;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 16px $inputBorder;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      input {
        width: 100%;
        max-width: 640px;
        border-radius: 25px;
        padding: 10px;
        margin: 0;
        margin-right: 10px;
      }
      i {
        cursor: pointer;
        padding: 10px;
        background-color: $baseFc;
        border-radius: 25px;
        color: white;
        &:hover {
          opacity: 0.8;
        }
      }
      // 메시지 작성 버튼 숨기기
      .postDetail__commentForm__submit {
        display: none;
      }
    }
  }
}
