mixin mixinCommentList(comment, postId)
    .comments-mixin
        .comments-mixin__text
            span#commentText=comment.content
        .comments-mixin__del
            i#commentDelBtn(data-commentid=comment.commentId).fa-solid.fa-trash