mixin mixinPostList(post)
    a(href=`post/${post.postId}`).postList-mixin 
        .postList-mixin__img
            img(src=post.image alt="게시글 이미지")
        .postList-mixin__contents
            .postList-mixin__title
                span=post.title 
            .postList-mixin__meta
                span.postList-mixin__writer 익명
                span.postList-mixin__time#createdAt=post.createdAt