header 
    if isHome
        a(href="/").header__logo
            i(title="메인 페이지로 이동하기").fa-solid.fa-house
    else if isEdit
        a(href=`/post/${editPost.postId}`).header__logo
            i(title="원래 글로 이동하기").fa-solid.fa-arrow-left
    else 
        a#backBtn(href="javascript:history.back();").header__logo
            i(title="뒤로 이동하기").fa-solid.fa-arrow-left
    h1.header__title=titleName
    if isHome
        a(href="/post/create").header__create
            i(title="글 작성하기").fa-solid.fa-pen
    else
        a(href="/")
            p(title="메인 페이지로 이동하기").header__subTitle HPNY 2023