// Config
@import "./config/_reset";
@import "./config/_variables";

// Components
@import "./components/header.scss";
@import "./components/postList.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/commentsList.scss";
@import "./components/footer.scss";

// Screens
@import "./screens/create.scss";
@import "./screens/detail.scss";
@import "./screens/edit.scss";
@import "./screens/home.scss";
@import "./screens/404.scss";

// Font
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $baseBg;
  color: $baseFc;
  font-family: "BMJUA";
  max-width: 640px;
  margin: 0 auto;
}

main {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 50px 0;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: 0 0 16px $inputBorder;
}
a {
  color: inherit;
  text-decoration: none;
}
